In [208]:
import pandas as pd
import numpy as np

#### Planilha (xlsx): Folha de pagamento

In [209]:
df = pd.read_excel('input\FolhaPagto-31082023_0011.xlsx', header=3)
df.head()

,UF Empresa,NOME,CÓDIGO,DIV. RH,SITUAÇÃO,FUNÇÃO,HORAS/DIAS,(001) SALARIO NORMAL,(004) DESCANSO SEM REM (A),(010) ADICION.NOTURNO,...,(192) IR S/FERIAS RETIDO,(813) REFEIÇÃO (CONVÊNIO),TOTAL DE DESCONTOS,TOTAL LÍQUIDO,BASE CÁLCULO INSS,BASE CÁLCULO FGTS,BASE CÁLCULO IRRF,VALOR INSS,VALOR FGTS,VALOR IRRF
0,SP,LEANDRO CANHETE DIAS ...,87,011.001.002,Ativo,SUPERV VENDAS JR,30,7775.84,-,-,...,-,-,4292.28,3484,7775.84,7775.84,3598.96,876.95,622.06,169.44
1,SP,MARILENE ROSA GANDRA NOVO ...,426,011.001.002,Ativo,AUX LIMPEZA SR,30,2348.03,40.41,-,...,-,-,1294.61,1304,2598.57,2598.57,1131.36,214.88,207.88,0.00
2,SP,LUIZ MANOEL LOUREIRO NOGUEIRA PERA ...,483,011.001.002,Ativo,AUXILIAR ADM JUNIOR,30,2158.25,-,-,...,-,-,210.41,1948,2158.25,2158.25,1630.25,174.44,172.66,0.00
3,SP,DEBORA FERNANDA TRINCK PETRONILIO ...,526,011.001.002,Ativo,AUX ADMINISTRAT PLEN,30,2426.71,8.01,-,...,-,-,1556.85,920,2476.35,2476.35,977.67,203.07,198.10,0.00
4,SP,ANA CAROLINA DIAS POLETTI ...,546,011.001.002,Ativo,ASSIST SUPRIMENTO TR,30,4493.72,-,-,...,-,-,2427.13,2067,4464.10,4464.10,2138.61,450.88,357.12,0.00

In [210]:
colunas_para_alterar = df.columns[6:63]

# Função para tratar valores "-" como nulos (NaN)
def tratar_valor(valor):
    valor = str(valor).strip()
    if valor == '-':
        return 0
    return valor

# Loop pelas colunas e aplique a função de tratamento em cada uma delas.
for coluna in colunas_para_alterar:
    df[coluna] = df[coluna].apply(tratar_valor)

for coluna in colunas_para_alterar:
   df[coluna] = df[coluna].astype('float')

df.head(20)

,UF Empresa,NOME,CÓDIGO,DIV. RH,SITUAÇÃO,FUNÇÃO,HORAS/DIAS,(001) SALARIO NORMAL,(004) DESCANSO SEM REM (A),(010) ADICION.NOTURNO,...,(192) IR S/FERIAS RETIDO,(813) REFEIÇÃO (CONVÊNIO),TOTAL DE DESCONTOS,TOTAL LÍQUIDO,BASE CÁLCULO INSS,BASE CÁLCULO FGTS,BASE CÁLCULO IRRF,VALOR INSS,VALOR FGTS,VALOR IRRF
0,SP,LEANDRO CANHETE DIAS ...,87,011.001.002,Ativo,SUPERV VENDAS JR,30.0,7775.84,0.00,0.0,...,0.00,0.0,4292.28,3484.0,7775.84,7775.84,3598.96,876.95,622.06,169.44
1,SP,MARILENE ROSA GANDRA NOVO ...,426,011.001.002,Ativo,AUX LIMPEZA SR,30.0,2348.03,40.41,0.0,...,0.00,0.0,1294.61,1304.0,2598.57,2598.57,1131.36,214.88,207.88,0.00
2,SP,LUIZ MANOEL LOUREIRO NOGUEIRA PERA ...,483,011.001.002,Ativo,AUXILIAR ADM JUNIOR,30.0,2158.25,0.00,0.0,...,0.00,0.0,210.41,1948.0,2158.25,2158.25,1630.25,174.44,172.66,0.00
3,SP,DEBORA FERNANDA TRINCK PETRONILIO ...,526,011.001.002,Ativo,AUX ADMINISTRAT PLEN,30.0,2426.71,8.01,0.0,...,0.00,0.0,1556.85,920.0,2476.35,2476.35,977.67,203.07,198.10,0.00
4,SP,ANA CAROLINA DIAS POLETTI ...,546,011.001.002,Ativo,ASSIST SUPRIMENTO TR,30.0,4493.72,0.00,0.0,...,0.00,0.0,2427.13,2067.0,4464.10,4464.10,2138.61,450.88,357.12,0.00
5,SP,FRANSCINE DE OLIVEIRA ...,555,011.001.002,Ativo,AUX ADMINIST I JR,30.0,2158.25,0.00,0.0,...,0.00,0.0,1181.32,977.0,2155.80,2155.80,764.50,174.22,172.46,0.00
6,SP,MARYELLEN BRENDA SILVERIO BERNARDO ...,567,011.001.002,Ativo,AUX ADMINISTRAT PLEN,30.0,2426.71,0.43,0.0,...,0.00,0.0,1311.47,1118.0,2429.39,2429.39,930.71,198.84,194.35,0.00
7,SP,STHEFANY ALBUQUERQUE ROCHA MINSONI ...,568,011.001.002,Ativo,APRENDIZ ADMINISTRAT,30.0,1825.49,0.00,0.0,...,0.00,0.0,885.74,940.0,1825.49,1825.49,567.29,144.49,36.50,0.00
8,SP,VALERIA RISSATO ...,348,011.001.004,Ativo,COLORISTA SR,30.0,4243.57,0.00,0.0,...,0.00,0.0,2616.62,1627.0,4214.25,4214.25,1988.82,415.90,337.14,0.00
9,SP,ANDERSON CORREA DA SILVA ...,364,011.001.004,Ativo,COORD CONT QUALID PL,30.0,5190.71,162.42,0.0,...,0.00,0.0,3182.25,3278.0,6411.61,6411.61,3611.80,723.53,512.92,171.37
10,SP,MAYARA NADIR CUCHARO ...,447,011.001.004,Ativo,Coord P&D Pleno,30.0,5709.15,0.00,0.0,...,0.00,0.0,3373.64,2336.0,5709.15,5709.15,2610.72,625.18,456.73,37.40
11,SP,JULIANA GASPARELI MAZIERO ...,512,011.001.004,Ativo,ASSIST LABORAT SR,13.0,1779.57,0.00,0.0,...,105.25,0.0,3711.60,1468.0,5170.71,5170.71,1243.47,549.80,413.65,0.00
12,SP,JOYCE ADINE RODRIGUES MUNHOZ ...,540,011.001.004,Ativo,COLORISTA JR,30.0,3193.63,1.09,0.0,...,0.00,0.0,1743.69,1457.0,3192.85,3192.85,1387.40,286.19,255.42,0.00
13,SP,EVANDRO RODRIGO CORREA ...,543,011.001.004,Ativo,SUP DESENVOLVIM JR,30.0,9736.13,6.94,0.0,...,0.00,0.0,6124.08,3656.0,9667.66,9667.66,4706.67,876.95,773.41,409.37
14,SP,REGINALDO ASSINI SEBASTIANI ...,544,011.001.004,Ativo,COLORISTA MASTER,30.0,4880.12,0.00,0.0,...,0.00,0.0,2771.17,2109.0,4757.67,4757.67,2277.62,491.98,380.61,12.42
15,SP,RICARDO VICTORINO ...,548,011.001.004,Ativo,ASSIST LABORAT PL,30.0,3652.93,0.00,0.0,...,0.00,0.0,1954.95,1698.0,3635.16,3635.16,1645.99,339.27,290.81,0.00
16,SP,PRISCILA BERNARDO ...,558,011.001.004,Ativo,ASSIST LABORAT JR,30.0,3193.62,0.57,0.0,...,0.00,0.0,1743.66,1454.0,3194.54,3194.54,1389.09,286.40,255.56,0.00
17,SP,VITOR LAZARO DE CARVALHO ...,270,011.001.007,Ativo,ENCARREG PRODUCAO JR,30.0,4718.23,3.02,0.0,...,0.00,0.0,3773.59,1906.0,4968.08,4968.08,2369.77,521.43,397.44,19.33
18,SP,GLEITON NOVAIS EDUARDO ...,396,011.001.007,Ativo,Lider Equipe Prod Sr,30.0,3965.77,122.66,0.0,...,0.00,0.0,2402.42,2588.0,4990.27,4990.27,2875.96,524.54,399.22,60.99
19,SP,LUIS INACIO DA SILVA GUIMARAES ...,490,011.001.007,Ativo,Prep de Tintas Pleno,30.0,2436.77,71.12,0.0,...,0.00,0.0,1985.15,1155.0,3125.51,3125.51,1622.80,278.11,250.04,0.00

In [211]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 61 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UF Empresa                      72 non-null     object
 1   NOME                            72 non-null     object
 2   CÓDIGO                          72 non-null     int64
 3   DIV. RH                         72 non-null     object
 4   SITUAÇÃO                        72 non-null     object
 5   FUNÇÃO                          72 non-null     object
 6   HORAS/DIAS                      72 non-null     float64
 7   (001) SALARIO NORMAL            72 non-null     float64
 8   (004) DESCANSO SEM REM (A)      72 non-null     float64
 9   (010) ADICION.NOTURNO           72 non-null     float64
 10  (011) ADC INSALUBRIDADE         72 non-null     float64
 11  (012) ADC PERICULOSIDADE        72 non-null     float64
 12  (015) FERIAS                    72 non-null     float64
 13  (016) ABONO DE FERIAS           72 non-null     float64
 14  (017) ADIC 1/3 DE FERIAS        72 non-null     float64
 15  (018) ADIC 1/3 FERIAS ABON      72 non-null     float64
 16  (030) HORA EXTRA 70%            72 non-null     float64
 17  (033) HORA EXTRA 110%           72 non-null     float64
 18  (040) HORA EXTRA NOTURNA 70%    72 non-null     float64
 19  (051) SAL QUITACAO - DEMIS      72 non-null     float64
 20  (053) INDEN. CC CLÁUSULA 27 D   72 non-null     float64
 21  (055) 13o PROPORC -DEMISS       72 non-null     float64
 22  (081) AUX.BOLSA ESTUDOS         72 non-null     float64
 23  (098) HE INTRAJORNADA           72 non-null     float64
 24  (100) ARREDONDAMENT DO MES      72 non-null     float64
 25  (267) FÉRIAS PROPORCIONAIS      72 non-null     float64
 26  (268) 1/3 FÉRIAS PROPORCIONAIS  72 non-null     float64
 27  TOTAL DE PROVENTOS              72 non-null     float64
 28  (101) I.N.S.S                   72 non-null     float64
 29  (102) I.N.S.S S/FERIAS          72 non-null     float64
 30  (103) INSS S/13o SALARIO        72 non-null     float64
 31  (105) CARTAO ALIMENTACAO        72 non-null     float64
 32  (111) ADIANT AUTOMATICO         72 non-null     float64
 33  (113) TROCO ANTERIOR            72 non-null     float64
 34  (115) FERIAS                    72 non-null     float64
 35  (116) ABONO DE FERIAS           72 non-null     float64
 36  (123) CESTA BASICA              72 non-null     float64
 37  (125) REFEICAO                  72 non-null     float64
 38  (128) DESC.DES.SEM.REM.1/5      72 non-null     float64
 39  (141) DESC.HORAS                72 non-null     float64
 40  (142) FALTAS                    72 non-null     float64
 41  (145) VALE TRANSPORTE (P)       72 non-null     float64
 42  (151) OUTROS DESCONTOS          72 non-null     float64
 43  (152) LIQUIDO QUITACAO          72 non-null     float64
 44  (153) CONVENIO FARMACIA         72 non-null     float64
 45  (160) EMPRESTIMO                72 non-null     float64
 46  (161) SEGURO DE VIDA            72 non-null     float64
 47  (162) ASSISTENCIA MEDICA        72 non-null     float64
 48  (172) P.ALIMENTICIA S/FERIAS    72 non-null     float64
 49  (174) PENSAO ALIMENTICIA        72 non-null     float64
 50  (190) I.R.R.F.                  72 non-null     float64
 51  (192) IR S/FERIAS RETIDO        72 non-null     float64
 52  (813) REFEIÇÃO (CONVÊNIO)       72 non-null     float64
 53  TOTAL DE DESCONTOS              72 non-null     float64
 54  TOTAL LÍQUIDO                   72 non-null     float64
 55  BASE CÁLCULO INSS               72 non-null     float64
 56  BASE CÁLCULO FGTS               72 non-null     float64
 57  BASE CÁLCULO IRRF               72 non-null     float64
 58  VALOR INSS                      72 non-null     float64
 59  VALOR FGTS                      72 non-null     float64
 60  VALOR IRRF                      72 non-null     float64
dtypes: float64(55), int64(1), object(5)
memory usage: 34.4+ KB

In [212]:
colunas_para_somar = df.iloc[:, 6:]
soma_colunas = colunas_para_somar.sum().round(2)
soma_total = soma_colunas.sum()

# Crie um novo DataFrame para mostrar a soma das colunas.
df_soma = pd.DataFrame({'Coluna': soma_colunas.index, 'Soma': soma_colunas.values})

print(soma_total)

print(df_soma)

1710210.2399999998
                            Coluna       Soma
0                       HORAS/DIAS    2021.00
1             (001) SALARIO NORMAL  222953.72
2       (004) DESCANSO SEM REM (A)    3477.23
3            (010) ADICION.NOTURNO    4571.85
4          (011) ADC INSALUBRIDADE    3983.18
5         (012) ADC PERICULOSIDADE    6550.94
6                     (015) FERIAS   12072.24
7            (016) ABONO DE FERIAS    1771.82
8         (017) ADIC 1/3 DE FERIAS    4024.08
9       (018) ADIC 1/3 FERIAS ABON     590.60
10            (030) HORA EXTRA 70%    4652.33
11           (033) HORA EXTRA 110%    7158.03
12    (040) HORA EXTRA NOTURNA 70%    1539.45
13      (051) SAL QUITACAO - DEMIS    2486.33
14   (053) INDEN. CC CLÁUSULA 27 D     744.08
15       (055) 13o PROPORC -DEMISS     507.16
16         (081) AUX.BOLSA ESTUDOS     190.44
17           (098) HE INTRAJORNADA     161.87
18      (100) ARREDONDAMENT DO MES      30.43
19      (267) FÉRIAS PROPORCIONAIS     338.14
20  (268) 1/3 FÉRIAS PROPORCIONAIS     112.71
21              TOTAL DE PROVENTOS  277916.63
22                   (101) I.N.S.S   24265.48
23          (102) I.N.S.S S/FERIAS    1610.46
24        (103) INSS S/13o SALARIO      38.03
25        (105) CARTAO ALIMENTACAO     594.40
26         (111) ADIANT AUTOMATICO   90878.32
27            (113) TROCO ANTERIOR      32.85
28                    (115) FERIAS   13001.79
29           (116) ABONO DE FERIAS    2362.42
30              (123) CESTA BASICA    1077.80
31                  (125) REFEICAO    4643.81
32      (128) DESC.DES.SEM.REM.1/5      65.43
33                (141) DESC.HORAS     710.38
34                    (142) FALTAS      65.43
35       (145) VALE TRANSPORTE (P)    1535.71
36          (151) OUTROS DESCONTOS      13.00
37          (152) LIQUIDO QUITACAO    2736.02
38         (153) CONVENIO FARMACIA    2200.22
39                (160) EMPRESTIMO    4577.77
40            (161) SEGURO DE VIDA     204.00
41        (162) ASSISTENCIA MEDICA    1306.22
42    (172) P.ALIMENTICIA S/FERIAS     907.50
43        (174) PENSAO ALIMENTICIA     734.04
44                  (190) I.R.R.F.    1992.98
45        (192) IR S/FERIAS RETIDO     576.57
46       (813) REFEIÇÃO (CONVÊNIO)     160.00
47              TOTAL DE DESCONTOS  156290.63
48                   TOTAL LÍQUIDO  121626.00
49               BASE CÁLCULO INSS  273297.17
50               BASE CÁLCULO FGTS  273297.17
51               BASE CÁLCULO IRRF  122065.39
52                      VALOR INSS   25913.97
53                      VALOR FGTS   21582.04
54                      VALOR IRRF    1992.98

#### Planilhas (.csv): Utilitários para transformação

In [213]:
df_centro_trabalho = pd.read_csv('utils\centro_de_trabalho.csv', encoding='ISO-8859-1')

##### Parte 1: Associação e verificação do centro de trabalho

In [214]:
df_centro_trabalho.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DIV. RH             19 non-null     int64
 1   DEPARTAMENTO        19 non-null     object
 2   CENTRO DE CUSTO     19 non-null     object
 3   CR                  19 non-null     object
 4   UNIDADE DE NEGOCIO  19 non-null     object
dtypes: int64(1), object(4)
memory usage: 892.0+ bytes

In [215]:
df['DIV. RH'] = df['DIV. RH'].str.replace('.', '')
df['DIV. RH'] = df['DIV. RH'].astype('int64')
df['DIV. RH'].head()

0    11001002
1    11001002
2    11001002
3    11001002
4    11001002
Name: DIV. RH, dtype: int64

In [216]:
df = df.merge(df_centro_trabalho[['DIV. RH', 'CENTRO DE CUSTO', 'CR', 'UNIDADE DE NEGOCIO']], on='DIV. RH', how='left')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 64 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UF Empresa                      72 non-null     object
 1   NOME                            72 non-null     object
 2   CÓDIGO                          72 non-null     int64
 3   DIV. RH                         72 non-null     int64
 4   SITUAÇÃO                        72 non-null     object
 5   FUNÇÃO                          72 non-null     object
 6   HORAS/DIAS                      72 non-null     float64
 7   (001) SALARIO NORMAL            72 non-null     float64
 8   (004) DESCANSO SEM REM (A)      72 non-null     float64
 9   (010) ADICION.NOTURNO           72 non-null     float64
 10  (011) ADC INSALUBRIDADE         72 non-null     float64
 11  (012) ADC PERICULOSIDADE        72 non-null     float64
 12  (015) FERIAS                    72 non-null     float64
 13  (016) ABONO DE FERIAS           72 non-null     float64
 14  (017) ADIC 1/3 DE FERIAS        72 non-null     float64
 15  (018) ADIC 1/3 FERIAS ABON      72 non-null     float64
 16  (030) HORA EXTRA 70%            72 non-null     float64
 17  (033) HORA EXTRA 110%           72 non-null     float64
 18  (040) HORA EXTRA NOTURNA 70%    72 non-null     float64
 19  (051) SAL QUITACAO - DEMIS      72 non-null     float64
 20  (053) INDEN. CC CLÁUSULA 27 D   72 non-null     float64
 21  (055) 13o PROPORC -DEMISS       72 non-null     float64
 22  (081) AUX.BOLSA ESTUDOS         72 non-null     float64
 23  (098) HE INTRAJORNADA           72 non-null     float64
 24  (100) ARREDONDAMENT DO MES      72 non-null     float64
 25  (267) FÉRIAS PROPORCIONAIS      72 non-null     float64
 26  (268) 1/3 FÉRIAS PROPORCIONAIS  72 non-null     float64
 27  TOTAL DE PROVENTOS              72 non-null     float64
 28  (101) I.N.S.S                   72 non-null     float64
 29  (102) I.N.S.S S/FERIAS          72 non-null     float64
 30  (103) INSS S/13o SALARIO        72 non-null     float64
 31  (105) CARTAO ALIMENTACAO        72 non-null     float64
 32  (111) ADIANT AUTOMATICO         72 non-null     float64
 33  (113) TROCO ANTERIOR            72 non-null     float64
 34  (115) FERIAS                    72 non-null     float64
 35  (116) ABONO DE FERIAS           72 non-null     float64
 36  (123) CESTA BASICA              72 non-null     float64
 37  (125) REFEICAO                  72 non-null     float64
 38  (128) DESC.DES.SEM.REM.1/5      72 non-null     float64
 39  (141) DESC.HORAS                72 non-null     float64
 40  (142) FALTAS                    72 non-null     float64
 41  (145) VALE TRANSPORTE (P)       72 non-null     float64
 42  (151) OUTROS DESCONTOS          72 non-null     float64
 43  (152) LIQUIDO QUITACAO          72 non-null     float64
 44  (153) CONVENIO FARMACIA         72 non-null     float64
 45  (160) EMPRESTIMO                72 non-null     float64
 46  (161) SEGURO DE VIDA            72 non-null     float64
 47  (162) ASSISTENCIA MEDICA        72 non-null     float64
 48  (172) P.ALIMENTICIA S/FERIAS    72 non-null     float64
 49  (174) PENSAO ALIMENTICIA        72 non-null     float64
 50  (190) I.R.R.F.                  72 non-null     float64
 51  (192) IR S/FERIAS RETIDO        72 non-null     float64
 52  (813) REFEIÇÃO (CONVÊNIO)       72 non-null     float64
 53  TOTAL DE DESCONTOS              72 non-null     float64
 54  TOTAL LÍQUIDO                   72 non-null     float64
 55  BASE CÁLCULO INSS               72 non-null     float64
 56  BASE CÁLCULO FGTS               72 non-null     float64
 57  BASE CÁLCULO IRRF               72 non-null     float64
 58  VALOR INSS                      72 non-null     float64
 59  VALOR FGTS                      72 non-null     float64
 60  VALOR IRRF                      72 non-null     float64
 61  CENTRO DE CUSTO                 72 non-null     object
 62  CR                              72 non-null     object
 63  UNIDADE DE NEGOCIO              72 non-null     object
dtypes: float64(55), int64(2), object(7)
memory usage: 36.1+ KB

In [217]:
df['SITUAÇÃO'] = df['CENTRO DE CUSTO'].str.cat(df['CR'])
df['SITUAÇÃO'].head()

0    admCR1002
1    admCR1002
2    admCR1002
3    admCR1002
4    admCR1002
Name: SITUAÇÃO, dtype: object

In [218]:
total_registros = df['DIV. RH'].count()
total_situacao = df['SITUAÇÃO'].count()


if total_situacao == total_registros:
    print(f'São {total_registros} registros em "DIV. RH".')
    print(f'Sucesso!. Todos os registros foram classificados em "SITUAÇÃO')
else:
    print(f'São {total_registros} registros em "DIV. RH".')
    print(f'Incosistência!. Dos {total_registros} registros, {total_situacao} foram classificados em "SITUAÇÃO".')

São 72 registros em "DIV. RH".
Sucesso!. Todos os registros foram classificados em "SITUAÇÃO

In [219]:
quantidade_com_nulos_situacao = df['SITUAÇÃO'].isnull()

print(f'Existem {quantidade_com_nulos_situacao.sum()} registros que não foram corretamente classificados em "SITUAÇÃO".')

Existem 0 registros que não foram corretamente classificados em "SITUAÇÃO".

In [220]:
valores_nulos_situacao = df[df['SITUAÇÃO'].isnull()]

In [221]:
linhas_com_nulos_situacao = valores_nulos_situacao[['CÓDIGO', 'DIV. RH', 'CENTRO DE CUSTO', 'CR', 'SITUAÇÃO']]

print(f'Veja a relação a seguir: \n \n {linhas_com_nulos_situacao}')

Veja a relação a seguir:

 Empty DataFrame
Columns: [CÓDIGO, DIV. RH, CENTRO DE CUSTO, CR, SITUAÇÃO]
Index: []

In [222]:
#valores_unicos_situacao = df['SITUAÇÃO'].unique()
quantidade_situacao = df['SITUAÇÃO'].value_counts() 
quantidade_unidades_negocio = df['UNIDADE DE NEGOCIO'].value_counts()

In [223]:
quantidade_situacao

SITUAÇÃO
custoCR2016       29
admCR1002          8
custoCR3006        5
custoCR3009        5
custoCR3014        5
custoCR3020        5
custoCR3013        3
comCR2020          2
custoCR3004        2
custoCR3011        2
custoCR3010        2
custoCR4004        2
custoCR2015Rat     1
custoCR2015        1
Name: count, dtype: int64

In [224]:
quantidade_unidades_negocio

UNIDADE DE NEGOCIO
UN03    68
UN01     2
UN04     2
Name: count, dtype: int64

##### Parte 2: Planilha resumo por CR e SITUAÇÃO

In [225]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 64 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UF Empresa                      72 non-null     object
 1   NOME                            72 non-null     object
 2   CÓDIGO                          72 non-null     int64
 3   DIV. RH                         72 non-null     int64
 4   SITUAÇÃO                        72 non-null     object
 5   FUNÇÃO                          72 non-null     object
 6   HORAS/DIAS                      72 non-null     float64
 7   (001) SALARIO NORMAL            72 non-null     float64
 8   (004) DESCANSO SEM REM (A)      72 non-null     float64
 9   (010) ADICION.NOTURNO           72 non-null     float64
 10  (011) ADC INSALUBRIDADE         72 non-null     float64
 11  (012) ADC PERICULOSIDADE        72 non-null     float64
 12  (015) FERIAS                    72 non-null     float64
 13  (016) ABONO DE FERIAS           72 non-null     float64
 14  (017) ADIC 1/3 DE FERIAS        72 non-null     float64
 15  (018) ADIC 1/3 FERIAS ABON      72 non-null     float64
 16  (030) HORA EXTRA 70%            72 non-null     float64
 17  (033) HORA EXTRA 110%           72 non-null     float64
 18  (040) HORA EXTRA NOTURNA 70%    72 non-null     float64
 19  (051) SAL QUITACAO - DEMIS      72 non-null     float64
 20  (053) INDEN. CC CLÁUSULA 27 D   72 non-null     float64
 21  (055) 13o PROPORC -DEMISS       72 non-null     float64
 22  (081) AUX.BOLSA ESTUDOS         72 non-null     float64
 23  (098) HE INTRAJORNADA           72 non-null     float64
 24  (100) ARREDONDAMENT DO MES      72 non-null     float64
 25  (267) FÉRIAS PROPORCIONAIS      72 non-null     float64
 26  (268) 1/3 FÉRIAS PROPORCIONAIS  72 non-null     float64
 27  TOTAL DE PROVENTOS              72 non-null     float64
 28  (101) I.N.S.S                   72 non-null     float64
 29  (102) I.N.S.S S/FERIAS          72 non-null     float64
 30  (103) INSS S/13o SALARIO        72 non-null     float64
 31  (105) CARTAO ALIMENTACAO        72 non-null     float64
 32  (111) ADIANT AUTOMATICO         72 non-null     float64
 33  (113) TROCO ANTERIOR            72 non-null     float64
 34  (115) FERIAS                    72 non-null     float64
 35  (116) ABONO DE FERIAS           72 non-null     float64
 36  (123) CESTA BASICA              72 non-null     float64
 37  (125) REFEICAO                  72 non-null     float64
 38  (128) DESC.DES.SEM.REM.1/5      72 non-null     float64
 39  (141) DESC.HORAS                72 non-null     float64
 40  (142) FALTAS                    72 non-null     float64
 41  (145) VALE TRANSPORTE (P)       72 non-null     float64
 42  (151) OUTROS DESCONTOS          72 non-null     float64
 43  (152) LIQUIDO QUITACAO          72 non-null     float64
 44  (153) CONVENIO FARMACIA         72 non-null     float64
 45  (160) EMPRESTIMO                72 non-null     float64
 46  (161) SEGURO DE VIDA            72 non-null     float64
 47  (162) ASSISTENCIA MEDICA        72 non-null     float64
 48  (172) P.ALIMENTICIA S/FERIAS    72 non-null     float64
 49  (174) PENSAO ALIMENTICIA        72 non-null     float64
 50  (190) I.R.R.F.                  72 non-null     float64
 51  (192) IR S/FERIAS RETIDO        72 non-null     float64
 52  (813) REFEIÇÃO (CONVÊNIO)       72 non-null     float64
 53  TOTAL DE DESCONTOS              72 non-null     float64
 54  TOTAL LÍQUIDO                   72 non-null     float64
 55  BASE CÁLCULO INSS               72 non-null     float64
 56  BASE CÁLCULO FGTS               72 non-null     float64
 57  BASE CÁLCULO IRRF               72 non-null     float64
 58  VALOR INSS                      72 non-null     float64
 59  VALOR FGTS                      72 non-null     float64
 60  VALOR IRRF                      72 non-null     float64
 61  CENTRO DE CUSTO                 72 non-null     object
 62  CR                              72 non-null     object
 63  UNIDADE DE NEGOCIO              72 non-null     object
dtypes: float64(55), int64(2), object(7)
memory usage: 36.1+ KB

In [226]:
resumo = df[['CR', 'SITUAÇÃO', 'UNIDADE DE NEGOCIO']].copy()
resumo = resumo.drop_duplicates()
resumo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries, 0 to 71
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CR                  14 non-null     object
 1   SITUAÇÃO            14 non-null     object
 2   UNIDADE DE NEGOCIO  14 non-null     object
dtypes: object(3)
memory usage: 448.0+ bytes

In [227]:
resumo.head()

        CR     SITUAÇÃO UNIDADE DE NEGOCIO
0   CR1002    admCR1002               UN03
8   CR2016  custoCR2016               UN03
37  CR2020    comCR2020               UN03
39  CR3004  custoCR3004               UN03
41  CR3011  custoCR3011               UN03

In [228]:
colunas_float = df.select_dtypes(include='float64').columns.tolist()
#colunas_float = df.select_dtypes(include='float64')
colunas_condicionais = ['CR', 'SITUAÇÃO', 'UNIDADE DE NEGOCIO']
colunas_relevantes = df[colunas_float + colunas_condicionais]
#soma_condicional = colunas_float.groupby(df['CR', 'SITUAÇÃO']).sum()
soma_condicional = colunas_relevantes.groupby(colunas_condicionais).sum()

In [229]:
soma_condicional.head()

,,,HORAS/DIAS,(001) SALARIO NORMAL,(004) DESCANSO SEM REM (A),(010) ADICION.NOTURNO,(011) ADC INSALUBRIDADE,(012) ADC PERICULOSIDADE,(015) FERIAS,(016) ABONO DE FERIAS,(017) ADIC 1/3 DE FERIAS,(018) ADIC 1/3 FERIAS ABON,...,(192) IR S/FERIAS RETIDO,(813) REFEIÇÃO (CONVÊNIO),TOTAL DE DESCONTOS,TOTAL LÍQUIDO,BASE CÁLCULO INSS,BASE CÁLCULO FGTS,BASE CÁLCULO IRRF,VALOR INSS,VALOR FGTS,VALOR IRRF
CR,SITUAÇÃO,UNIDADE DE NEGOCIO,,,,,,,,,,,,,,,,,,,,,
CR1002,admCR1002,UN03,240.0,25613.00,48.85,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.0,13159.81,12758.0,25883.79,25883.79,11739.35,2437.77,1961.13,169.44
CR2015,custoCR2015,UN04,30.0,4466.30,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.0,2274.77,2192.0,4466.30,4466.30,2039.00,451.19,357.30,0.00
CR2015Rat,custoCR2015Rat,UN04,30.0,4718.23,172.58,0.0,263.48,0.00,0.00,0.00,0.00,0.00,...,0.00,0.0,2896.01,3156.0,6042.48,6042.48,3293.75,671.85,483.39,123.66
CR2016,custoCR2016,UN03,791.0,106132.18,1066.69,0.0,3719.70,3197.35,11973.37,510.07,3991.12,170.02,...,573.88,0.0,81413.32,55098.0,135113.67,135113.67,57186.59,13024.79,10590.04,1266.00
CR2020,comCR2020,UN03,60.0,6235.98,303.99,0.0,0.00,1869.92,0.00,0.00,0.00,0.00,...,0.00,160.0,5316.02,4676.0,9987.71,9987.71,6292.43,1050.08,799.01,247.75

In [230]:
soma_condicional['Valor Total'] = soma_condicional.sum(axis=1)
resultado_situacao = soma_condicional[['Valor Total']].round(2)
resultado = resultado_situacao['Valor Total'].sum()

print(type(resultado_situacao))
print(resultado)
print(resultado_situacao)

<class 'pandas.core.frame.DataFrame'>
1710210.24
                                             Valor Total
CR        SITUAÇÃO       UNIDADE DE NEGOCIO
CR1002    admCR1002      UN03                  159228.51
CR2015    custoCR2015    UN04                   27485.17
CR2015Rat custoCR2015Rat UN04                   37739.65
CR2016    custoCR2016    UN03                  844033.04
CR2020    comCR2020      UN03                   63716.77
CR3004    custoCR3004    UN03                   41033.12
CR3006    custoCR3006    UN03                   92134.55
CR3009    custoCR3009    UN03                   95121.33
CR3010    custoCR3010    UN03                   29143.26
CR3011    custoCR3011    UN03                   27969.83
CR3013    custoCR3013    UN03                   49848.40
CR3014    custoCR3014    UN03                  101527.44
CR3020    custoCR3020    UN03                   98184.47
CR4004    custoCR4004    UN01                   43044.70

In [231]:
resumo = soma_condicional.reset_index()
resumo

,CR,SITUAÇÃO,UNIDADE DE NEGOCIO,HORAS/DIAS,(001) SALARIO NORMAL,(004) DESCANSO SEM REM (A),(010) ADICION.NOTURNO,(011) ADC INSALUBRIDADE,(012) ADC PERICULOSIDADE,(015) FERIAS,...,(813) REFEIÇÃO (CONVÊNIO),TOTAL DE DESCONTOS,TOTAL LÍQUIDO,BASE CÁLCULO INSS,BASE CÁLCULO FGTS,BASE CÁLCULO IRRF,VALOR INSS,VALOR FGTS,VALOR IRRF,Valor Total
0,CR1002,admCR1002,UN03,240.0,25613.00,48.85,0.00,0.00,0.00,0.00,...,0.0,13159.81,12758.0,25883.79,25883.79,11739.35,2437.77,1961.13,169.44,159228.51
1,CR2015,custoCR2015,UN04,30.0,4466.30,0.00,0.00,0.00,0.00,0.00,...,0.0,2274.77,2192.0,4466.30,4466.30,2039.00,451.19,357.30,0.00,27485.17
2,CR2015Rat,custoCR2015Rat,UN04,30.0,4718.23,172.58,0.00,263.48,0.00,0.00,...,0.0,2896.01,3156.0,6042.48,6042.48,3293.75,671.85,483.39,123.66,37739.65
3,CR2016,custoCR2016,UN03,791.0,106132.18,1066.69,0.00,3719.70,3197.35,11973.37,...,0.0,81413.32,55098.0,135113.67,135113.67,57186.59,13024.79,10590.04,1266.00,844033.04
4,CR2020,comCR2020,UN03,60.0,6235.98,303.99,0.00,0.00,1869.92,0.00,...,160.0,5316.02,4676.0,9987.71,9987.71,6292.43,1050.08,799.01,247.75,63716.77
5,CR3004,custoCR3004,UN03,60.0,6129.14,89.09,223.52,0.00,0.00,0.00,...,0.0,3262.70,3419.0,6677.15,6677.15,3169.49,607.36,534.17,0.00,41033.12
6,CR3006,custoCR3006,UN03,150.0,13139.68,299.98,950.01,0.00,0.00,98.87,...,0.0,7582.13,7551.0,15116.29,15116.29,6155.38,1373.95,1209.28,31.84,92134.55
7,CR3009,custoCR3009,UN03,120.0,11524.38,420.80,1063.73,0.00,0.00,0.00,...,0.0,8322.30,7477.0,14682.99,14682.99,7255.12,1377.94,1221.68,60.41,95121.33
8,CR3010,custoCR3010,UN03,60.0,4056.64,122.02,260.59,0.00,0.00,0.00,...,0.0,2102.84,2711.0,4812.99,4812.99,2134.33,393.56,385.03,0.00,29143.26
9,CR3011,custoCR3011,UN03,60.0,4313.56,43.69,0.00,0.00,0.00,0.00,...,0.0,2485.01,2101.0,4570.29,4570.29,1788.87,371.72,365.62,0.00,27969.83
10,CR3013,custoCR3013,UN03,90.0,6882.19,207.04,153.21,0.00,0.00,0.00,...,0.0,4159.74,4007.0,8126.23,8126.23,3501.33,694.56,650.09,0.00,49848.40
11,CR3014,custoCR3014,UN03,150.0,12729.14,400.49,966.72,0.00,0.00,0.00,...,0.0,10335.53,6561.0,15205.33,15205.33,7269.37,1389.12,1216.39,66.78,101527.44
12,CR3020,custoCR3020,UN03,120.0,12032.58,221.79,954.07,0.00,0.00,0.00,...,0.0,9806.72,6130.0,15685.39,15685.39,6362.11,1432.80,1254.80,27.10,98184.47
13,CR4004,custoCR4004,UN01,60.0,4980.72,80.22,0.00,0.00,1483.67,0.00,...,0.0,3173.73,3789.0,6926.56,6926.56,3878.27,637.28,554.11,0.00,43044.70

In [232]:
select_columns = soma_condicional.columns[1:]
lista_resumo = pd.DataFrame({'LISTA': select_columns})
lista_resumo

                             LISTA
0             (001) SALARIO NORMAL
1       (004) DESCANSO SEM REM (A)
2            (010) ADICION.NOTURNO
3          (011) ADC INSALUBRIDADE
4         (012) ADC PERICULOSIDADE
5                     (015) FERIAS
6            (016) ABONO DE FERIAS
7         (017) ADIC 1/3 DE FERIAS
8       (018) ADIC 1/3 FERIAS ABON
9             (030) HORA EXTRA 70%
10           (033) HORA EXTRA 110%
11    (040) HORA EXTRA NOTURNA 70%
12      (051) SAL QUITACAO - DEMIS
13   (053) INDEN. CC CLÁUSULA 27 D
14       (055) 13o PROPORC -DEMISS
15         (081) AUX.BOLSA ESTUDOS
16           (098) HE INTRAJORNADA
17      (100) ARREDONDAMENT DO MES
18      (267) FÉRIAS PROPORCIONAIS
19  (268) 1/3 FÉRIAS PROPORCIONAIS
20              TOTAL DE PROVENTOS
21                   (101) I.N.S.S
22          (102) I.N.S.S S/FERIAS
23        (103) INSS S/13o SALARIO
24        (105) CARTAO ALIMENTACAO
25         (111) ADIANT AUTOMATICO
26            (113) TROCO ANTERIOR
27                    (115) FERIAS
28           (116) ABONO DE FERIAS
29              (123) CESTA BASICA
30                  (125) REFEICAO
31      (128) DESC.DES.SEM.REM.1/5
32                (141) DESC.HORAS
33                    (142) FALTAS
34       (145) VALE TRANSPORTE (P)
35          (151) OUTROS DESCONTOS
36          (152) LIQUIDO QUITACAO
37         (153) CONVENIO FARMACIA
38                (160) EMPRESTIMO
39            (161) SEGURO DE VIDA
40        (162) ASSISTENCIA MEDICA
41    (172) P.ALIMENTICIA S/FERIAS
42        (174) PENSAO ALIMENTICIA
43                  (190) I.R.R.F.
44        (192) IR S/FERIAS RETIDO
45       (813) REFEIÇÃO (CONVÊNIO)
46              TOTAL DE DESCONTOS
47                   TOTAL LÍQUIDO
48               BASE CÁLCULO INSS
49               BASE CÁLCULO FGTS
50               BASE CÁLCULO IRRF
51                      VALOR INSS
52                      VALOR FGTS
53                      VALOR IRRF
54                     Valor Total

##### Parte 3: Planilha resumo por CENTRO DE CUSTO

In [233]:
df_codigos = pd.read_csv('utils\\codigos.csv', encoding='ISO-8859-1')
df_codigos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   COLUNA DA FOLHA  159 non-null    object
 1   DEBITO           159 non-null    object
 2   CREDITO          159 non-null    object
 3   DESCRICAO        159 non-null    object
 4   CENTRO DE CUSTO  159 non-null    object
dtypes: object(5)
memory usage: 6.3+ KB

In [234]:
df_codigos['CENTRO DE CUSTO'].value_counts()

CENTRO DE CUSTO
custo    56
adm      53
com      50
Name: count, dtype: int64

In [235]:
valores = df_codigos.loc[df_codigos['CENTRO DE CUSTO'] == 'custo']
#valores_adm.set_index('COLUNA DA FOLHA')
valores.head(20)

,COLUNA DA FOLHA,DEBITO,CREDITO,DESCRICAO,CENTRO DE CUSTO
103,(001) SALARIO NORMAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
104,(004) DESCANSO SEM REM (A),3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
105,(010) ADICION.NOTURNO,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
106,(011) ADC INSALUBRIDADE,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
107,(012) ADC PERICULOSIDADE,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
108,(015) FERIAS,2.1.2.02.02.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
109,(016) ABONO DE FERIAS,2.1.2.02.02.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
110,(017) ADIC 1/3 DE FERIAS,2.1.2.02.02.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
111,(018) ADIC 1/3 FERIAS ABON,2.1.2.02.02.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
112,(025) PARTICIPACAO LUCROS,2.1.2.02.02.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
113,(030) HORA EXTRA 70%,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
114,(033) HORA EXTRA 110%,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
115,(040) HORA EXTRA NOTURNA 70%,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESC DE FOLHA DE CUSTO,custo
116,(041) HORA EXTRA NOTURNA 110%,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
117,(050) AUXILIO SEGURO,2.1.2.02.01.015,3.2.3.01.01.010,P/ VLR DE DESC DE FOLHA DE CUSTO,custo
118,(051) SAL QUITACAO - DEMIS,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
119,(055) 13o PROPORC -DEMISS,2.1.2.02.02.025,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
120,(057) 13o INDEN.AV.PV.1/12,3.2.3.01.01.015,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
121,(067) FERIAS INDENIZADAS,2.1.2.02.02.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo
122,(068) FERIAS 1/3,2.1.2.02.02.010,2.1.2.02.01.015,P/ VLR DE CUSTO,custo

In [236]:
def associar_valor(cr_desejado):
    data = resumo.set_index('CR')
    resultados = pd.DataFrame(columns=['DATA', 'TIPO', 'DEBITO', 'CREDITO', 'DESCRICAO COMPLETA', 'VALOR', 'UNIDADE DE NEGOCIO', 'CR'])

    if cr_desejado == 'CR1002':
        codigos = df_codigos.loc[df_codigos['CENTRO DE CUSTO'] == 'adm']
    elif cr_desejado == 'CR2020':
        codigos = df_codigos.loc[df_codigos['CENTRO DE CUSTO'] == 'com']
    else:
        codigos = df_codigos.loc[df_codigos['CENTRO DE CUSTO'] == 'custo']

    
    for index, linha in codigos.iterrows():
        codigo1_correspondente = linha['DEBITO']
        codigo2_correspondente = linha['CREDITO']
        descricao_correspondente = linha['DESCRICAO']
        folha_correspondente = linha['COLUNA DA FOLHA']
        
        if folha_correspondente in lista_resumo['LISTA'].values:
            valor_correspondente = data.loc[cr_desejado, folha_correspondente]
            unidade_correspondente = data.loc[cr_desejado, 'UNIDADE DE NEGOCIO']
            ref_completa = f'{descricao_correspondente} {folha_correspondente}'

            if valor_correspondente > 0:
                resultados.loc[len(resultados)] = ['31/07/2023', 'MANUAL', codigo1_correspondente, codigo2_correspondente, ref_completa, valor_correspondente, unidade_correspondente, cr_desejado]
            else:
                resultados = resultados
        else:
            resultados

    return resultados

In [237]:
associar_valor('CR1002')

,DATA,TIPO,DEBITO,CREDITO,DESCRICAO COMPLETA,VALOR,UNIDADE DE NEGOCIO,CR
0,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (001) SALARIO NO...,25613.00,UN03,CR1002
1,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (004) DESCANSO S...,48.85,UN03,CR1002
2,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (030) HORA EXTRA...,46.24,UN03,CR1002
3,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (033) HORA EXTRA...,207.77,UN03,CR1002
4,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (100) ARREDONDAM...,1.95,UN03,CR1002
5,31/07/2023,MANUAL,2.1.2.02.01.015,2.1.2.02.01.025,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (101...,2437.77,UN03,CR1002
6,31/07/2023,MANUAL,2.1.2.02.01.015,1.1.2.03.01.001,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (111...,9385.51,UN03,CR1002
7,31/07/2023,MANUAL,2.1.2.02.01.015,3.3.2.01.01.010,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (113...,1.98,UN03,CR1002
8,31/07/2023,MANUAL,2.1.2.02.01.015,3.3.2.01.02.010,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (123...,160.30,UN03,CR1002
9,31/07/2023,MANUAL,2.1.2.02.01.015,4.9.2.01.01.001,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (125...,387.90,UN03,CR1002
10,31/07/2023,MANUAL,2.1.2.02.01.015,3.3.2.01.01.010,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (141...,32.07,UN03,CR1002
11,31/07/2023,MANUAL,2.1.2.02.01.015,3.3.2.01.02.030,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (145...,145.60,UN03,CR1002
12,31/07/2023,MANUAL,2.1.2.02.01.015,4.4.1.01.12.007,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (153...,338.24,UN03,CR1002
13,31/07/2023,MANUAL,2.1.2.02.01.015,4.9.2.01.01.005,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (161...,21.00,UN03,CR1002
14,31/07/2023,MANUAL,2.1.2.02.01.015,1.1.2.07.01.007,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (162...,80.00,UN03,CR1002
15,31/07/2023,MANUAL,2.1.2.02.01.015,2.1.2.02.02.045,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (190...,169.44,UN03,CR1002
16,31/07/2023,MANUAL,3.3.2.01.01.040,2.1.2.02.01.030,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO VALO...,1961.13,UN03,CR1002

In [238]:
resultados = (associar_valor(valor) for valor in resumo['CR'])
resultado_final = pd.concat(resultados, ignore_index=True)

In [239]:
valor_filtro = 'CR1002'
resultado_filtro = resultado_final[resultado_final['CR'] == valor_filtro]
resultado_filtro

,DATA,TIPO,DEBITO,CREDITO,DESCRICAO COMPLETA,VALOR,UNIDADE DE NEGOCIO,CR
0,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (001) SALARIO NO...,25613.00,UN03,CR1002
1,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (004) DESCANSO S...,48.85,UN03,CR1002
2,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (030) HORA EXTRA...,46.24,UN03,CR1002
3,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (033) HORA EXTRA...,207.77,UN03,CR1002
4,31/07/2023,MANUAL,3.3.2.01.01.010,2.1.2.02.01.015,P/ VLR DE DESP ADMINISTRATIVO (100) ARREDONDAM...,1.95,UN03,CR1002
5,31/07/2023,MANUAL,2.1.2.02.01.015,2.1.2.02.01.025,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (101...,2437.77,UN03,CR1002
6,31/07/2023,MANUAL,2.1.2.02.01.015,1.1.2.03.01.001,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (111...,9385.51,UN03,CR1002
7,31/07/2023,MANUAL,2.1.2.02.01.015,3.3.2.01.01.010,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (113...,1.98,UN03,CR1002
8,31/07/2023,MANUAL,2.1.2.02.01.015,3.3.2.01.02.010,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (123...,160.30,UN03,CR1002
9,31/07/2023,MANUAL,2.1.2.02.01.015,4.9.2.01.01.001,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (125...,387.90,UN03,CR1002
10,31/07/2023,MANUAL,2.1.2.02.01.015,3.3.2.01.01.010,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (141...,32.07,UN03,CR1002
11,31/07/2023,MANUAL,2.1.2.02.01.015,3.3.2.01.02.030,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (145...,145.60,UN03,CR1002
12,31/07/2023,MANUAL,2.1.2.02.01.015,4.4.1.01.12.007,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (153...,338.24,UN03,CR1002
13,31/07/2023,MANUAL,2.1.2.02.01.015,4.9.2.01.01.005,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (161...,21.00,UN03,CR1002
14,31/07/2023,MANUAL,2.1.2.02.01.015,1.1.2.07.01.007,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (162...,80.00,UN03,CR1002
15,31/07/2023,MANUAL,2.1.2.02.01.015,2.1.2.02.02.045,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO (190...,169.44,UN03,CR1002
16,31/07/2023,MANUAL,3.3.2.01.01.040,2.1.2.02.01.030,P/ VLR DE DESC DE FOLHA DE ADMINISTRATIVO VALO...,1961.13,UN03,CR1002

In [240]:
resultado_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   DATA                260 non-null    object
 1   TIPO                260 non-null    object
 2   DEBITO              260 non-null    object
 3   CREDITO             260 non-null    object
 4   DESCRICAO COMPLETA  260 non-null    object
 5   VALOR               260 non-null    float64
 6   UNIDADE DE NEGOCIO  260 non-null    object
 7   CR                  260 non-null    object
dtypes: float64(1), object(7)
memory usage: 16.4+ KB

In [241]:
export_xlsx = resultado_final.to_excel('output/resultado.xlsx', index=False)
export_csv = resultado_final.to_csv('output/resultado.csv', index=False)